{% extends 'src/partials/layout.njk' %}
{% block content %}
  <body class="bg-primary">

    </section>

    <h1 class="relative text-5xl text-white font-primary text-center mt-[2em] ">
      CONTACT OUR TEAM
    </h1>
  </body>
{% endblock %}