{% extends 'src/partials/layout.njk' %}
{% block content %}
  <body class="bg-primary">
    <p class="text-2xl text-white font-Roboto my-20 px-28 text-left">SEOUL, SOUTH KOREA 2024</p>
    <h1 class="text-7xl text-white text-display my-20 px-28 text-left">
    VCT CHAMPIONS
  </h1>
    </body>
{% endblock %}