{% extends 'src/partials/layout.njk' %}
{% block content %}
  <body class="bg-primary">

    </section>

    <h1 class="relative text-5xl text-white font-primary text-center mt-[2em] ">
    MERCH
    </h1>

     
        <div  class="w-5/12 mt-10 ml-52">
        <img
      src="/Group71.png" alt="img">
          <h2 class="relative text-6xl leading-relaxed text-white font-primary text-center mt-[-10em] ml-[14em] ">
    SLEEKSNAKES KEYCHAIN
    </h2>
          <h2 class="relative text-5xl text-white font-secodary font-bold text-center mt-[-1.70em] ml-[24em] ">
  29.99$
    </h2>

     <h2 class="absolute text-xl text-white font-secodary text-left mt-12 ml-[42em] ">
  SleekSnakes keychain, made from high  <br> quality resin and metal
<br>
<br>
<br>
Size: 5x5cm square
    </h2>
     <img class="w-3/12 mt-56 ml-[52em]"
      src="/Group34.png" alt="img"> 
        </div>
<div class="relative text-7xl text-white font-secondary my-22 px-32 text-left z-10 ml-[12.75em] mt-4">
        <button class="rounded-md bg-accent py-4 px-8 border border-transparent text-center text-sm text-white transition-all
         shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none 
         disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
          Learn More </button>
        </div>

         <img class="w-[2.5em] ml-[75em] mt-[-3em]"
      src="/frame.png" alt="img"> 


    <h1 class="relative text-4xl text-white font-primary text-left mt-[3em] ml-52 ">
    SLEEKSNAKES KEYCHAIN
    </h1>

    <h1 class="relative text-xl text-white font-secondary font-light text-left mt-[1em] ml-52 mr-32 ">
    The SleekSnakes keychain is an expertly crafted accessory that captures the bold and unique spirit of your esports team. 
    <br> This 5x5 cm square keychain is made from premium resin, giving it a sleek and glossy finish that’s both durable and eye-catching. 
    <br> The high-quality metal accents provide a touch of sophistication and strength,
    <br> ensuring it can withstand the rigors of daily use. Designed with team pride in mind, 
    <br>the SleekSnakes emblem is detailed and vibrant, perfectly embodying the essence of agility, strength,
    <br> and precision your team represents. Ideal for backpacks, keys, or sports bags, this keychain is a must-have
    <br> keepsake for fans and players alike.
    </h1>

        <h1 class="relative text-4xl text-white font-primary text-left mt-10 ml-52 ">
    COLORS AVAILABLE
    </h1>
    
         <img class="w-1/12 mt-4 ml-[13em]"
      src="/Group34.png" alt="img"> 

  </body>
{% endblock %}