<nav class="bg-gradient-to-t font-secondary from-primary to-secondary text-white h-24 text-l flex px-14">
    <img src="/logo-05.svg" class="h-21 relatove z-10">

    <ul class=" flex py-8 px-14 space-x-9 body font-medium items-center z-10">
        <li>
            <a href="/">HOME</a>
        </li>
                <li>
            <a href="#">TEAMS</a>
        </li>
                <li>
            <a href="/merch.html">MERCH</a>
        </li>
                <li>
            <a href="/contact.html">CONTACT</a>
        </li>
    </ul>
</nav>