<nav class="bg-gradient-to-t font-secondary from-primary to-secondary text-white h-24 text-l flex px-14">
    <img src="/logo-05.svg" class="h-21 relatove z-10">

    <ul class=" flex py-8 px-14 space-x-9 body font-medium items-center">
        <li>
            <a href="#">HOME</a>
        </li>
                <li>
            <a href="#">TEAMS</a>
        </li>
                <li>
            <a href="#">MERCH</a>
        </li>
                <li>
            <a href="#">CONTACT</a>
        </li>
    </ul>
</nav>

<img src="/Group75.png" class="relative w-96 mt-[-6em]">