<nav class="bg-gradient-to-t from-primary to-secondary text-white h-24 text-xl flex px-14">
    <img src="/logo-05.svg" class="h-21">
    <ul class=" flex py-8 px-14 ">
        <li>
            <a href="#">HOME</a>
        </li>
                <li>
            <a href="#">TEAMS</a>
        </li>
                <li>
            <a href="#">MERCH</a>
        </li>
                <li>
            <a href="#">CONTACT</a>
        </li>
    </ul>
</nav>